<div class="header">
  <div style="display: flex;
    font-size: 25px;
    align-items: center;">
   <img src="assets/images/left-icon.png" routerLink="/home"> 
  <ion-title> Payment Policy </ion-title> 
</div>
  
</div>

<div style="padding: 10px;">
    <p>1. To can earn money by viewing, like and share our ads .</p>
    <p>2. You can earn once per ads</p>
    <p>3.After that you can redeem money from wallet transaction.</p>
    <p>4. After redeem you will get money in your account within 7 days.</p>
<p>
    While using any of the payment method(s) described on the website for any
    of your purchases, EASYADSPROMOTIONS.COM will neither be responsible nor
    assume any liability, whatsoever, in respect of any loss or damage arising
    directly or indirectly to You due to the following reasons:
</p>
<p>
    Lack of authorizations for any transaction(s)
</p>
<p>
    Exceeding the pre-set limit mutually agreed upon between You and “Bank(s)”
</p>
<p>
    Any payment issues arising out of the transaction
</p>
<p>
    Decline of transaction for any other reason(s)
</p>
<p>
    Which forms of payment are acceptable?
</p>
<p>
    EASYADSPROMOTIONS.COM entertains all forms of electronic payment means and
    services, such as Credit/Debit cards, EMIs, and third-party payment
    services, etc.
</p>
<p>
    All payments made against the services by You on the Website shall
    compulsorily be in the Indian National Rupees acceptable in the Republic of
    India. The Website will not facilitate transaction(s) in any other forms of
    currency for any form of purchases made on the Website.
</p>
<p>
    You understand, accept and agree that EASYADSPROMOTIONS.COM’s Payment
    Facility is neither a banking nor financial service, but is merely a
    facilitator providing an electronic and automated online payment facility
    using the existing authorized banking infrastructure and Electronic Card
    payment gateway networks. Through these facilities, EASYADSPROMOTIONS.COM
    is neither acting as a trustee nor acting in a fiduciary capacity with
    respect to the Transactions or the Transaction Price.
</p>
<p>
    As a Customer, you understand that, upon initiating a Transaction, You are
    entering into a legally binding and enforceable contract with
    EASYADSPROMOTIONS.COM or its affiliated vendors to purchase the product(s)
    or service(s) from EASYADSPROMOTIONS.COM using our Payment Facility, and
    You shall pay the Transaction Price through Your Issuing Bank to
    EASYADSPROMOTIONS.COM through the Payment Facility.
</p>
<p>
    Is there any form of additional or hidden fee?
</p>
<p>
    No, there is no hidden fee on purchases made by you at
    EASYADSPROMOTIONS.COM .
</p>
<p>
    How are my electronic payments processed?
</p>
<p>
    All valid Credit/Debit Cash cards and other payment instruments are
    processed using a Credit Card payment gateway or appropriate payment system
    infrastructure, and the same will also be governed by the terms and
    conditions agreed to between the Buyer and the respective Issuing Bank and
    payment instrument issuing company. EASYADSPROMOTIONS.COM does not, in any
    way, store the information of your Credit/Debit cards.
</p>
<p>
    All online Bank Transfers from Valid Bank Accounts are processed using the
    gateway provided by the respective Issuing Bank which supports Payment
    Facility to provide these services to the Users. All such Online Bank
    Transfers on Payment Facility are also governed by the terms and conditions
    agreed to between Buyer and the respective Issuing Bank.
</p>
</div>