<div class="form-page">

  <div class="header">
    <div class="header-title">
      <img src="assets/images/left-icon.png" (click)="clearData()" >
      <ion-title> Update Frame Ad </ion-title>
    </div>
  </div>
  
  <div class="page white-bg form-page">
    <div [formGroup]="createPhotoFrameForm" class="form">
      <div class="card-body">
        <div class="row">
  
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Name  *</label>
            <input class="form-control" formControlName="name" placeholder="Enter Name of Photo">
            <small class="form-text text-muted invalid-data"
              *ngIf="createPhotoFrameForm.controls['name'].invalid && (createPhotoFrameForm.controls['name'].dirty || createPhotoFrameForm.controls['name'].touched)"
              class="invalid-data">
              Please enter name  </small>
          </div>
  
  
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Description *</label>
            <textarea rows="4" cols="50" class="form-control" formControlName="description" placeholder="Enter Description" ></textarea>
            <small class="form-text text-muted invalid-data"
              *ngIf="createPhotoFrameForm.controls['description'].invalid && (createPhotoFrameForm.controls['description'].dirty || createPhotoFrameForm.controls['description'].touched)"
              class="invalid-data">
              Please enter description </small>
          </div>
  
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label>Target Gender *</label>
            <ion-grid>
              <ion-row class="gender">
                <ion-col  *ngFor="let gender of gender" (click)="toggleGender(gender)">
                  <button [class]="gender.selected?'btn btn-success':'btn btn-primary'"> 
                    <i *ngIf="gender.selected" class="fa fa-check white-text"></i>
                     {{gender.name}}</button>
                </ion-col>
              </ion-row>
            </ion-grid> 
        
          </div>
  
         
  
  
        <div class="col-xs-12 col-sm-6 col-md-6">
          <label>Start Date *</label>
          <ion-datetime  displayFormat="DD/MM/YYYY" placeholder="Enter Start Date" formControlName="startDate"  class="form-control"></ion-datetime>
          <small class="form-text text-muted invalid-data"
            *ngIf="createPhotoFrameForm.controls['startDate'].invalid && (createPhotoFrameForm.controls['startDate'].dirty || createPhotoFrameForm.controls['startDate'].touched)"
            class="invalid-data">
            Please enter start date </small>
        </div>
  
  
        <div class="col-xs-12 col-sm-6 col-md-6">
          <label>End Date *</label>
          <ion-datetime  displayFormat="DD/MM/YYYY" placeholder="Enter End Date" formControlName="endDate"  class="form-control"></ion-datetime>
          <small class="form-text text-muted invalid-data"
            *ngIf="createPhotoFrameForm.controls['endDate'].invalid && (createPhotoFrameForm.controls['endDate'].dirty || createPhotoFrameForm.controls['endDate'].touched)"
            class="invalid-data">
            Please enter end date </small>
        </div>
  
      
  
       
        <div class="col-xs-12 col-sm-6 col-md-6 " >
          <div class="upload-card" >
            <p *ngIf="createPhotoFrameForm.value.locality">{{createPhotoFrameForm.value.locality.address}}</p>
            <button (click)="getLocality()" style="background: #FF3162;color:#fff;padding:5px;margin:10px;float:right">Pin Locality *</button>
          </div>
        
          <small class="form-text text-muted invalid-data"
            *ngIf="createPhotoFrameForm.controls['locality'].invalid && (createPhotoFrameForm.controls['locality'].dirty || createPhotoFrameForm.controls['locality'].touched)"
            class="invalid-data">
            Please enter Locality </small>
        </div>
  
      </div>
    </div>
    <button class="footer-button white-text"  (click)="submit(createPhotoFrameForm.value)">
      Update
     </button>
  </div>
  
  </div>
  
  
  
  
  </div>
  