
.page {
    background: #fff;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    margin-top: -35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 30px;
    padding-bottom: 100px;
}