// .col-xs-6{
//     width:50%;
//     padding:5px
// }

.footer-button{
    background: #e83646;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    z-index:999999999;

}


.gender{
    button{
        font-size:10px;
        width: 100%;
    }
}

.page{
    padding-bottom: 150px;
}
label{
    font-weight: bold;
}