<div class="header">
  <div class="header-title">
    <img src="assets/images/left-icon.png" routerLink="/login">
    <ion-title> Forgot Passowrd </ion-title> 
  </div>
</div>
<div class="page white-bg form-page">
  <div [formGroup]="forgotPasswordForm" class="form">
    <div class="card-body">
      <div class="row">

       


        <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="numberOpen=='true'">
          <label>Phone Number *</label>
          <input class="form-control" [disabled]="opens=='true'" (click)="removeError()" (change)="removeError()" (ngModelChage)="removeError()" formControlName="phoneNumber" type="number" placeholder="Enter Phone Number">
          <small class="form-text text-muted invalid-data"
            *ngIf="forgotPasswordForm.controls['phoneNumber'].invalid && (forgotPasswordForm.controls['phoneNumber'].dirty || forgotPasswordForm.controls['phoneNumber'].touched)"
            class="invalid-data">
            Please enter phone number          </small>
        </div>
           <p style="color:red;margin-left:10px">{{error}}</p>
        <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="open=='true'">
          <label >Otp *</label>
          <input  class="form-control" formControlName="otp"  placeholder="Enter Otp">
          <small class="form-text text-muted invalid-data"
            *ngIf="forgotPasswordForm.controls['otp'].invalid && (forgotPasswordForm.controls['otp'].dirty || forgotPasswordForm.controls['otp'].touched)"
            class="invalid-data">
            Please Enter Otp          </small>
        </div>
        
         <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="opens=='true'">
          <label>Password *</label>
          <input  class="form-control" type="password" formControlName="password" placeholder="(min 6 characters )">
          <small class="form-text text-muted invalid-data"
            *ngIf="forgotPasswordForm.controls['password'].invalid && (forgotPasswordForm.controls['password'].dirty || forgotPasswordForm.controls['password'].touched)"
            class="invalid-data">
            Please enter password(min 6 characters )          </small>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="opens=='true'">
          <label>Confirm Password *</label>
          <input  class="form-control" type="password" formControlName="confirmPassword" placeholder="(min 6 characters )">
          <small class="form-text text-muted invalid-data"
            *ngIf="(forgotPasswordForm.controls['confirmPassword'].invalid && (forgotPasswordForm.controls['confirmPassword'].dirty || forgotPasswordForm.controls['confirmPassword'].touched)
            ) "
            class="invalid-data">
            Please enter password(min 6 characters )         </small>
            <small *ngIf="forgotPasswordForm.controls['password'].touched && (forgotPasswordForm.value.password!=forgotPasswordForm.value.confirmPassword)">
              Password and confirm passsword should match 
            </small>
        </div> 

        




      </div>
    </div>
  </div>
</div>

         
<button class="footer-button white-text" *ngIf="!otpSend && otpVerify" (click)="verifyOtp(forgotPasswordForm.value)">Verify OTP</button>
<button class="footer-button white-text" [disabled]="forgotPasswordForm.controls['phoneNumber'].invalid && (forgotPasswordForm.controls['phoneNumber'].dirty || forgotPasswordForm.controls['phoneNumber'].touched)" *ngIf="otpSend" (click)="sendOtp(forgotPasswordForm.value)">Generate OTP</button>
<button class="footer-button white-text" *ngIf="opens=='true'" [disabled]="!forgotPasswordForm.valid" (click)="submit(forgotPasswordForm.value)">Submit</button>
<ion-content>

</ion-content>
